<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat List</title>

    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div id="app">
        <!-- Start Header -->
        <header>
            <h3 class="text-center text-upper">
                {{ title }}
            </h3>
        </header>
        <!-- End Header -->

        <!-- Start Sidebar -->
        <div class="sidebar">
            <ul class="text-upper">
                <li class="list-search" style="padding: 0;">
                    <input v-model="search" type="text" placeholder="search field" class="search-field">
                </li>
                <li v-for="cat in filtering" :data-id="cat.id" class="list-item" :class="cat.id == 1 ? 'active': ''" @click="setCat(cat)">{{cat.name}}</li>
            </ul>
        </div>
        <!-- End Sidebar -->

        <!-- Start Content -->
        <div class="content">
            <div class="info" id="info">
                Name: <span>{{ obj.name }}</span> <br>
                Age: <span>{{ obj.age }}</span> <br>
                Nickname: <span>{{ obj.nickname }}</span>
            </div>

            <div class="image">
                <img :src="obj.img" alt="Image Not Found">
            </div>
        </div>
        <!-- Start Content -->

        <div class="clear"></div>

        <!-- Start Footer -->
        <footer class="text-center">
            Copyrights &copy; 2019 <a class="link" href="https://github.com/mostafa-yasen">Mostafa Yasin</a>
        </footer>
        <!-- End Footer -->
    </div>

    <script src="vendors/jquery/jquery-3.4.1.min.js"></script>

    <script src="vendors/vue/vue.js"></script>

    <script src="js/app.js"></script>
</body>

</html>